In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('Транзакции.csv', sep="\t", encoding = 'latin-1',decimal=",")
df

,TransactionID,Date,Count,Cost,Äîñòàâêà,Ïëîõîé îòçûâ,Paid,Weight,Promo,AutoIssue
0,1,2020-Aug-21 8:53:03,67,6325,0,0,2605.0,5481,0,0
1,2,2019-Sep-3 11:53:03,90,8307,1,1,8553.0,5956,1,1
2,3,2019-Oct-15 4:31:02,59,9819,0,1,9995.0,5170,1,0
3,4,2019-Aug-26 4:14:00,14,5351,1,1,12603.0,8826,0,0
4,5,2020-Aug-27 1:21:03,14,7779,1,0,5625.0,5357,0,0
...,...,...,...,...,...,...,...,...,...,...
14360,14361,2019-Oct-30 4:42:01,70,4716,1,1,3201.0,7509,1,1
14361,14362,2019-Oct-8 23:23:03,14,4547,1,0,10810.0,8511,1,0
14362,14363,2020-Aug-17 18:25:00,8,9940,1,1,10597.0,9649,0,1
14363,14364,2020-Aug-27 9:38:01,92,7180,0,0,7200.0,6638,0,0
14364,14365,2020-Aug-26 13:27:01,23,9680,1,0,1991.0,6589,1,1

В таблице данные о 14635 транзакциях и 10 признаках. Переименуем столбцы с неправильной кодировкой.

In [37]:
df.rename(columns={ df.columns[4]: "Delivery", df.columns[5]: "Bad review" }, inplace = True)
df

,TransactionID,Date,Count,Cost,Delivery,Bad review,Paid,Weight,Promo,AutoIssue
0,1,2020-Aug-21 8:53:03,67,6325,0,0,2605.0,5481,0,0
1,2,2019-Sep-3 11:53:03,90,8307,1,1,8553.0,5956,1,1
2,3,2019-Oct-15 4:31:02,59,9819,0,1,9995.0,5170,1,0
3,4,2019-Aug-26 4:14:00,14,5351,1,1,12603.0,8826,0,0
4,5,2020-Aug-27 1:21:03,14,7779,1,0,5625.0,5357,0,0
...,...,...,...,...,...,...,...,...,...,...
14360,14361,2019-Oct-30 4:42:01,70,4716,1,1,3201.0,7509,1,1
14361,14362,2019-Oct-8 23:23:03,14,4547,1,0,10810.0,8511,1,0
14362,14363,2020-Aug-17 18:25:00,8,9940,1,1,10597.0,9649,0,1
14363,14364,2020-Aug-27 9:38:01,92,7180,0,0,7200.0,6638,0,0
14364,14365,2020-Aug-26 13:27:01,23,9680,1,0,1991.0,6589,1,1

Проверим данные на наличие пропущенных значений:

In [38]:
df.isna().sum()

TransactionID    0
Date             0
Count            0
Cost             0
Delivery         0
Bad review       0
Paid             0
Weight           0
Promo            0
AutoIssue        0
dtype: int64

В таблице нет пропущенных значений. По условию задачи нас интересуют только те продажи, у которых не было доставки. Удалим строки, соответсвующие продажам с доставкой.

In [39]:
df = df.drop(df[df.Delivery == 1].index)
df

,TransactionID,Date,Count,Cost,Delivery,Bad review,Paid,Weight,Promo,AutoIssue
0,1,2020-Aug-21 8:53:03,67,6325,0,0,2605.0,5481,0,0
2,3,2019-Oct-15 4:31:02,59,9819,0,1,9995.0,5170,1,0
7,8,2020-Aug-23 13:34:03,45,6381,0,0,6251.0,9227,0,0
8,9,2020-Aug-31 16:57:02,31,8795,0,1,2047.0,6044,0,1
9,10,2020-Aug-29 9:18:01,41,4175,0,1,6300.0,7866,1,1
...,...,...,...,...,...,...,...,...,...,...
14354,14355,2019-Dec-2 15:52:01,36,6704,0,0,8613.0,7665,0,0
14356,14357,2020-Aug-26 8:30:05,68,6042,0,1,10181.0,5656,1,1
14358,14359,2020-Aug-27 15:22:02,67,5211,0,0,3873.0,4345,1,1
14359,14360,2020-Aug-30 17:22:02,14,9668,0,1,5156.0,4156,0,1
14363,14364,2020-Aug-27 9:38:01,92,7180,0,0,7200.0,6638,0,0

Добавим дополнительный столбец, в котором будет отображаться только месяц и год.

In [40]:
df['Date'] = pd.to_datetime(df['Date'])
df['year_month'] = df['Date'].dt.to_period('M')
df

,TransactionID,Date,Count,Cost,Delivery,Bad review,Paid,Weight,Promo,AutoIssue,year_month
0,1,2020-08-21 08:53:03,67,6325,0,0,2605.0,5481,0,0,2020-08
2,3,2019-10-15 04:31:02,59,9819,0,1,9995.0,5170,1,0,2019-10
7,8,2020-08-23 13:34:03,45,6381,0,0,6251.0,9227,0,0,2020-08
8,9,2020-08-31 16:57:02,31,8795,0,1,2047.0,6044,0,1,2020-08
9,10,2020-08-29 09:18:01,41,4175,0,1,6300.0,7866,1,1,2020-08
...,...,...,...,...,...,...,...,...,...,...,...
14354,14355,2019-12-02 15:52:01,36,6704,0,0,8613.0,7665,0,0,2019-12
14356,14357,2020-08-26 08:30:05,68,6042,0,1,10181.0,5656,1,1,2020-08
14358,14359,2020-08-27 15:22:02,67,5211,0,0,3873.0,4345,1,1,2020-08
14359,14360,2020-08-30 17:22:02,14,9668,0,1,5156.0,4156,0,1,2020-08
14363,14364,2020-08-27 09:38:01,92,7180,0,0,7200.0,6638,0,0,2020-08

Удалим ненужные столбцы.

In [41]:
df = df.drop(['TransactionID', 'Date', 'Delivery', 'Weight', 'AutoIssue'], 1)
df

       Count  Cost  Bad review     Paid  Promo year_month
0         67  6325           0   2605.0      0    2020-08
2         59  9819           1   9995.0      1    2019-10
7         45  6381           0   6251.0      0    2020-08
8         31  8795           1   2047.0      0    2020-08
9         41  4175           1   6300.0      1    2020-08
...      ...   ...         ...      ...    ...        ...
14354     36  6704           0   8613.0      0    2019-12
14356     68  6042           1  10181.0      1    2020-08
14358     67  5211           0   3873.0      1    2020-08
14359     14  9668           1   5156.0      0    2020-08
14363     92  7180           0   7200.0      0    2020-08

[7128 rows x 6 columns]

Сгруппируем данные по месяцу и промокоду, при этом данные из одной группы будут суммироваться, а для столбца плохих отзывов будет ещё считаться количество.

In [42]:
df = df.groupby(['year_month', 'Promo']).agg(
    BadReviewCount = pd.NamedAgg(column='Bad review', aggfunc = 'count'),
    BadReviewSum = pd.NamedAgg(column='Bad review', aggfunc = 'sum'),
    Count = pd.NamedAgg(column='Count', aggfunc = 'sum'),
    Cost = pd.NamedAgg(column='Cost', aggfunc = 'sum'),
    Paid = pd.NamedAgg(column='Paid', aggfunc = 'sum')).reset_index()
df

   year_month  Promo  BadReviewCount  BadReviewSum  Count     Cost        Paid
0     2019-03      0               1             1     56     8582     3841.00
1     2019-04      0             177            88   8932  1234569  1330813.00
2     2019-04      1             139            64   7115   942324  1003110.00
3     2019-05      0             187           100   8217  1280917  1359247.00
4     2019-05      1             179            82   8623  1256056  1368613.00
5     2019-06      0             181            88   9197  1264703  1333426.00
6     2019-06      1             181            85   9239  1252433  1445432.00
7     2019-07      0             159            68   8622  1117818  1209182.00
8     2019-07      1             186           103  10198  1311752  1403555.00
9     2019-08      0             183            82   9756  1268800  1339810.34
10    2019-08      1             147            84   7508  1032339  1127964.00
11    2019-09      0             225           113  11898  1567778  1709488.00
12    2019-09      1             200            91   9977  1387100  1674074.00
13    2019-10      0             238           129  11342  1669002  1852365.00
14    2019-10      1             272           135  14178  1915271  1941208.00
15    2019-11      0             235           126  11564  1602895  1849994.00
16    2019-11      1             237           119  11239  1635840  1765274.00
17    2019-12      0             225           113  11602  1603016  1735341.00
18    2019-12      1             212           119  10850  1503225  1583613.00
19    2020-01      0             216           107  10556  1497481  1639701.00
20    2020-01      1             220           108  11095  1509263  1685691.00
21    2020-02      0             218           116  10484  1514402  1603385.00
22    2020-02      1             189            82   9753  1311124  1341135.00
23    2020-03      0             295           151  14911  2046660  2212303.00
24    2020-03      1             294           149  14659  2086799  2203725.00
25    2020-04      0             167            71   8472  1183963  1207652.00
26    2020-04      1             188            98   9735  1336446  1378588.00
27    2020-05      0             201            99  10052  1411234  1368219.00
28    2020-05      1             210           105  10658  1456431  1566887.00
29    2020-06      0             195            92  10292  1373663  1615880.00
30    2020-06      1             198           101   9976  1407906  1432652.00
31    2020-07      0             241           129  12465  1684213  1849772.00
32    2020-07      1             232           119  11609  1639974  1745623.00
33    2020-08      0             245           107  12497  1694002  1793977.00
34    2020-08      1             255           138  12310  1760044  1880716.00

Таким образом, для каждого месяца есть две строки данных: с примененным промокодом и нет. Добавим ещё 2 столбца с вычисленными процентами плохих отзывов и доходности.

In [43]:
def func1(BadReviewSum, BadReviewCount):
    return BadReviewSum/BadReviewCount*100

def func2(Cost, Paid):
    return (Paid - Cost)/Cost * 100

df['Bad review %'] = df.apply(lambda y: func1(y.BadReviewSum, y.BadReviewCount), axis=1)
df['Bad review %'].astype(int)
df['Profitability %'] = df.apply(lambda y: func2(y.Cost, y.Paid), axis=1)
df = df.round(decimals=2)
df

,year_month,Promo,BadReviewCount,BadReviewSum,Count,Cost,Paid,Bad review %,Profitability %
0,2019-03,0,1,1,56,8582,3841.00,100.00,-55.24
1,2019-04,0,177,88,8932,1234569,1330813.00,49.72,7.80
2,2019-04,1,139,64,7115,942324,1003110.00,46.04,6.45
3,2019-05,0,187,100,8217,1280917,1359247.00,53.48,6.12
4,2019-05,1,179,82,8623,1256056,1368613.00,45.81,8.96
5,2019-06,0,181,88,9197,1264703,1333426.00,48.62,5.43
6,2019-06,1,181,85,9239,1252433,1445432.00,46.96,15.41
7,2019-07,0,159,68,8622,1117818,1209182.00,42.77,8.17
8,2019-07,1,186,103,10198,1311752,1403555.00,55.38,7.00
9,2019-08,0,183,82,9756,1268800,1339810.34,44.81,5.60
10,2019-08,1,147,84,7508,1032339,1127964.00,57.14,9.26
11,2019-09,0,225,113,11898,1567778,1709488.00,50.22,9.04
12,2019-09,1,200,91,9977,1387100,1674074.00,45.50,20.69
13,2019-10,0,238,129,11342,1669002,1852365.00,54.20,10.99
14,2019-10,1,272,135,14178,1915271,1941208.00,49.63,1.35
15,2019-11,0,235,126,11564,1602895,1849994.00,53.62,15.42
16,2019-11,1,237,119,11239,1635840,1765274.00,50.21,7.91
17,2019-12,0,225,113,11602,1603016,1735341.00,50.22,8.25
18,2019-12,1,212,119,10850,1503225,1583613.00,56.13,5.35
19,2020-01,0,216,107,10556,1497481,1639701.00,49.54,9.50
20,2020-01,1,220,108,11095,1509263,1685691.00,49.09,11.69
21,2020-02,0,218,116,10484,1514402,1603385.00,53.21,5.88
22,2020-02,1,189,82,9753,1311124,1341135.00,43.39,2.29
23,2020-03,0,295,151,14911,2046660,2212303.00,51.19,8.09
24,2020-03,1,294,149,14659,2086799,2203725.00,50.68,5.60
25,2020-04,0,167,71,8472,1183963,1207652.00,42.51,2.00
26,2020-04,1,188,98,9735,1336446,1378588.00,52.13,3.15
27,2020-05,0,201,99,10052,1411234,1368219.00,49.25,-3.05
28,2020-05,1,210,105,10658,1456431,1566887.00,50.00,7.58
29,2020-06,0,195,92,10292,1373663,1615880.00,47.18,17.63
30,2020-06,1,198,101,9976,1407906,1432652.00,51.01,1.76
31,2020-07,0,241,129,12465,1684213,1849772.00,53.53,9.83
32,2020-07,1,232,119,11609,1639974,1745623.00,51.29,6.44
33,2020-08,0,245,107,12497,1694002,1793977.00,43.67,5.90
34,2020-08,1,255,138,12310,1760044,1880716.00,54.12,6.86

Удалим ненужные для вывода столбцы. Переименуем нужные.

In [46]:
df = df.drop(['BadReviewCount', 'BadReviewSum', 'Cost', 'Paid'], 1)
df.columns = ['Месяц','Введен промокод','Кол-во транзакций','Плохих отзывов %','Доходность, %']
df

,Месяц,Введен промокод,Кол-во транзакций,Плохих отзывов %,"Доходность, %"
0,2019-03,0,56,100.00,-55.24
1,2019-04,0,8932,49.72,7.80
2,2019-04,1,7115,46.04,6.45
3,2019-05,0,8217,53.48,6.12
4,2019-05,1,8623,45.81,8.96
5,2019-06,0,9197,48.62,5.43
6,2019-06,1,9239,46.96,15.41
7,2019-07,0,8622,42.77,8.17
8,2019-07,1,10198,55.38,7.00
9,2019-08,0,9756,44.81,5.60
10,2019-08,1,7508,57.14,9.26
11,2019-09,0,11898,50.22,9.04
12,2019-09,1,9977,45.50,20.69
13,2019-10,0,11342,54.20,10.99
14,2019-10,1,14178,49.63,1.35
15,2019-11,0,11564,53.62,15.42
16,2019-11,1,11239,50.21,7.91
17,2019-12,0,11602,50.22,8.25
18,2019-12,1,10850,56.13,5.35
19,2020-01,0,10556,49.54,9.50
20,2020-01,1,11095,49.09,11.69
21,2020-02,0,10484,53.21,5.88
22,2020-02,1,9753,43.39,2.29
23,2020-03,0,14911,51.19,8.09
24,2020-03,1,14659,50.68,5.60
25,2020-04,0,8472,42.51,2.00
26,2020-04,1,9735,52.13,3.15
27,2020-05,0,10052,49.25,-3.05
28,2020-05,1,10658,50.00,7.58
29,2020-06,0,10292,47.18,17.63
30,2020-06,1,9976,51.01,1.76
31,2020-07,0,12465,53.53,9.83
32,2020-07,1,11609,51.29,6.44
33,2020-08,0,12497,43.67,5.90
34,2020-08,1,12310,54.12,6.86

В столбце промокода заменим 1 на "да", 0 на "нет".

In [47]:
for i in range(0, df.shape[0]):
    if df.iloc[i, 1] == 1:
        df.iloc[i, 1] = 'да'
    else:
        df.iloc[i, 1] = 'нет'
df

In [49]:
df.to_excel("output.xlsx")